---
import Layout from '../layouts/Layout.astro.jsx';
import Link from '../components/Link.jsx';
---

<Layout title="4ephyr">
	<main class="m-0 p-0">
		<Link link="Resume" refer='projects'/>
	</main>
</Layout>