---
import Layout from '../layouts/Layout.astro';
import ContentLayout from '../layouts/ContentLayout.astro';
---

<Layout title="4ephyr | Home">
	<ContentLayout>
		<h1 class="dark:text-primary text-secondary text-5xl font-semibold leading-[1] font-primary">Hi, I'm  <span class="text-tint dark:text-accent" > Sahl.</span></h1>
		<div>
			<p class="dark:text-primary text-secondary font-primary max-w-lg text-lg">
				A Kerala based enthusiastic developer/researcher who loves developing and learning amazing stuff.
			</p>
		</div>
	</ContentLayout>
</Layout>