---
import type { CollectionEntry } from "astro:content";

interface BlogPost {
  post: CollectionEntry<'blogPosts'>;
  link: string;
}

const { post, link } = Astro.props;
const { title, description, date } = post.data;

const formattedDate = new Intl.DateTimeFormat('en-US', {
  year: 'numeric',
  month: 'short',
  day: 'numeric',
}).format(new Date(date));
---

<a class="text-secondary font-semibold font-primary dark:text-primary text-3xl py-2 w-full inline-block" href={link}>
  <div class="flex justify-between">
    <div>
      <span class="underline">{title}</span>
      <p class="text-sm mt-2 font-light">{description}</p>
    </div>
    <div>
      <p class="text-sm mt-2 font-bold dark:text-primary-500 text-secondary ml-2">{formattedDate}</p>
    </div>
  </div>
</a>
