---
import { Icon } from 'astro-icon/components';
import { InvalidContentEntrySlugError, InvalidGetStaticPathsReturn } from 'astro/dist/core/errors/errors-data';
const props = Astro.props 
---

<div class="flex flex-row items-center mt-3 ">
    <button class="group flex px-3 py-2 pr-10 items-center relative font-raleway font-bold bg-primary hover:bg-darkAccent hover:text-primary duration-100 rounded-full">
        CONTACT ME
        <div class="bg-tint m-1 text-2xl rounded-full p-1 absolute right-0">
            <Icon name="mdi:arrow-top-right-thin" class:list={"group-[hover]: invert"} />
        </div>
    </button>
    <div class="flex ml-3 gap-2 group">
        <a href="#">
            <Icon name="mdi:github" size={50} class:list={"invert hover:invert-0"} />
        </a>
        <a href="#">
            <Icon name="mdi:linkedin" size={50} class:list={"invert hover:text-accent hover:invert-0"} />
        </a>
    </div>
</div>