---
import { Icon } from 'astro-icon/components'
---

<footer class="w-full dark:text-primary text-secondary py-20">
    <div class="flex flex-row gap-3 justify-center">
        <a href="/rss.xml" target="_blank">
            <Icon name="mdi:rss-box" class="w-8 h-8 mx-auto" />
        </a>
        <a href="https://github.com/4ephyr" target="_blank">
            <Icon name="mdi:github" class="w-8 h-8 mx-auto" />
        </a>
        <a href="https://instagram.com/sahle.yy" target="_blank">
            <Icon name="mdi:instagram" class="w-8 h-8 mx-auto" />
        </a>
    </div>
    <p class="text-center mt-1 font-[400] font-primary">
        Made with <span class="text-red-500">&hearts;</span> by 4ephyr
    </p>
</footer>