<header class="px-8 py-6">
    <nav class="sm:flex justify-between items-center">
        <div>
            <a href="/"><h1 class="font-primary hover:text-accent text-primary text-5xl font-bold">4EPHYR</h1></a>
        </div>
        <div>
            <ul class="flex flex-row text-lg m-0 items-center">
                <li><a href="/work/" class="nav-link">Work</a></li>
                <li><a href="/about/" class="nav-link">About</a></li>
                <li><a href="/contact/" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </nav>
    <style>
        .nav-link {
            @apply hover:text-tint text-primary px-1 mx-1 font-primary duration-100;
        }
    </style>
</header>