---

---

<header class="px-8 py-6">
    <nav class="flex justify-between">
        <div>
            <a href="#"><h1 class="font-bebas hover:text-accent text-primary text-3xl">4ephyr</h1></a>
        </div>
        <div>
            <ul class="flex flex-row text-lg">
                <li><a href="#" class="nav-link">Work</a></li>
                <li><a href="#" class="nav-link">About</a></li>
                <li><a href="#" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </nav>
    <style>
        .nav-link {
            @apply hover:text-tint text-primary px-1 mx-1 font-raleway font-semibold duration-100;
        }
    </style>    
</header>