---
import Contact from "./Contact.astro";
---

<section class="px-8 py-12">
    <div class="flex flex-row justify-center gap-10">
        <div class="self-center flex flex-col">
            <h1 class="text-primary text-[5rem] leading-[1] font-bebas">HI, I AM <br> <span class="hover:text-tint" >MOHAMMED SAHAL</span></h1>
            <div>
                <p class="text-primary font-raleway max-w-lg">
                    A Kerala based developer/researcher passionate about developing and learning modern technologies.
                </p>
            </div>
            <Contact />
        </div>
        <div>
            <img src="/assets/images/4.png" alt="Load Error" class="rounded-lg">
        </div>
    </div>
</section>