<button id="theme-toggle" class="p-2 bg-gray-200 dark:bg-gray-800 rounded-full ml-2 absolute sm:right-0 sm:static m-4 right-0 top-2">
    <span id="theme-toggle-icon" class="text-black dark:text-white">
      <svg id="sun-icon" class="w-5 h-5 hidden dark:block" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4V2m0 20v-2m8-8h2m-20 0h2m14.828-6.828l1.414-1.414m-14.828 0L5.636 5.636m12.728 12.728l1.414 1.414m-14.828 0l1.414-1.414M12 10a2 2 0 110 4 2 2 0 010-4z"/>
      </svg>
      <svg id="moon-icon" class="w-5 h-5 block dark:hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12.79A9 9 0 1112.21 3 7.5 7.5 0 0021 12.79z"/>
      </svg>
    </span>
  </button>
  
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const toggleButton = document.getElementById('theme-toggle');
      const moonIcon = document.getElementById('moon-icon');
      const sunIcon = document.getElementById('sun-icon');
  
      const savedTheme = localStorage.getItem('theme') || 'dark';
      if (savedTheme === 'dark') {
        document.documentElement.classList.add('dark');
        moonIcon.classList.add('hidden');
        sunIcon.classList.remove('hidden');
      } else {
        document.documentElement.classList.remove('dark');
        moonIcon.classList.remove('hidden');
        sunIcon.classList.add('hidden');
      }
  
      toggleButton.addEventListener('click', () => {
        const isDarkMode = document.documentElement.classList.toggle('dark');
        const newTheme = isDarkMode ? 'dark' : 'light';
        localStorage.setItem('theme', newTheme);
  
        if (isDarkMode) {
          moonIcon.classList.add('hidden');
          sunIcon.classList.remove('hidden');
        } else {
          moonIcon.classList.remove('hidden');
          sunIcon.classList.add('hidden');
        }
      });
    });
  </script>
  