---
import Layout from '../../layouts/Layout.astro';
import ContentLayout from '../../layouts/ContentLayout.astro';
import { getCollection } from 'astro:content';
import BlogPost from '../../components/BlogPost.astro';

const allPosts = await getCollection('blogPosts');

const sortedPosts = allPosts.sort((a, b) => {
  return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});

---

<Layout title="4ephyr">
  <ContentLayout heading="Blogs">
    <div>
      <ul class="flex flex-col">
        {sortedPosts.map((post) => (
          <li class="my-3 inline-block">
            <BlogPost post={post} link={`${post.slug}`} />
          </li>
        ))}
      </ul>
    </div>
  </ContentLayout>
</Layout>