---
interface Props {
  title: string;
  description: string;
  date: string;
}

const { title, description, date } = Astro.props;

const formattedDate = new Intl.DateTimeFormat('en-US', {
  year: 'numeric',
  month: 'short',
  day: 'numeric',
}).format(new Date(date));
---

<article class="min-w-full prose dark:prose-headings:text-primary prose-headings:text-secondary dark:prose-strong:text-primary prose-strong:text-secondary dark:prose-code:text-primary prose-code:text-secondary dark:text-primary text-secondary">
  <div class="mt-3">
    <p class="m-0">{description}</p>
    <h1 class="text-sm font-medium m-0">{formattedDate}</h1>
  </div>
  <slot />
</article>